.wrapper{
  min-width: 200px;
  position: relative;
  display: inline-block;
}
.select{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid #c1c1c1;
  cursor: pointer;
  font-size: 13px;

}
.prompt{
  opacity: 0.3;
}
.dropDownIcon{
  color: #c1c1c1;
}
.contentOpen{
  position: absolute;
  width: calc(100% - 2px);
  z-index: 1;
  padding:0px;
  border: 1px solid #c1c1c1;
  border-top: none;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 5px 0px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    2px 2px 5px 0px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         2px 2px 5px 0px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.contentClosed{
  display: none;
  position: absolute;
  width: calc(100% - 2px);
  z-index: 1;
  padding:0px;
  border: 1px solid #c1c1c1;
  border-top: none;
}
ul{
  margin: 0px;
  padding: 0px;
  list-style-type:none;
}
.defaultli{
  padding-bottom: 10px;
  padding: 8px;
  cursor: pointer;
  margin-bottom: 2px;
  font-size: 13px;
}

.selectedli{
  padding-bottom: 10px;
  padding: 8px;
  cursor: pointer;
  font-weight: bold;
  background-color: rgba(220,220,220,0.2);
  font-size: 13px;
}

.defaultli:hover{
  background-color: rgba(220,220,220,0.4);
}